body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #EEE;
    padding: 0;
    margin: 0;
}

header {
    text-align: left;
    background-color: #333;
    padding: 5px;
    padding-left: 30px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #BBB;
    background-color: #333;
    padding: 10px;
}

main {
    max-width: 1200px;
    padding: 20px;
}

nav {
    min-width: 200px;
    border-right: 1px solid #FFF;
    text-align: left;
    padding: 15px;
}

.content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.horizontal-slot {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.slot-container {
    flex: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
}

.slot-container-header {
    margin-top: 0;
    color: #d5c777;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

a {
    color: #677fe0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #835ac4;
}

.inline-image {
    vertical-align: middle;
    max-height: 1.2em;
}

.box-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.nav-separator {
    border-top: 1px solid #555;
    margin: 10px 0;
}

button.menu-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #444;
    color: #FFF;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
}

button.menu-button:hover {
    background-color: #555;
}